*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "poppins", sans-serif;
}
body{
	background-color: blue;
}
.header{
	position: fixed;
	margin-top: 0;
	margin-left: 0;
	width: 100%;
	padding: 20px 10px;
	background: transparent;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logo{
	position: relative;
	font-size: 25px;
	color: #fff;
	text-decoration: none;
}
.navbar{
	display: inline-block;
	font-size: 25px;
	margin-left: 25px;
	transition: 3s;
}
.navbar a{
	text-decoration: none;
	margin: 0 10px;
	flex-wrap: nowrap;
	color: #fff;
}
.navbar a:hover{
	color: #0ef;
	border-bottom:3px solid #0ef;
	transition: 0.2s;
}
.home{
	position: relative;
	width: 100%;
	justify-content: space-between;
	height: 100vh;
	background: url( ) no-repeat;
	background-size: cover;
	background-position: center;
	display: flex;
	align-items: center;
	padding: 20px 30px;
	transition: 3s;
}
.home-tex  h3{
	font-size: 35px;
	font-weight: 700;
	
}