    body {
      background: radial-gradient(circle at center, #0a0a1f, #000);
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    .circle {
      width: 300px;
      height: 300px;
      border-radius: 50%;
      position: relative;
      overflow: hidden;
    }

    /* Gradient border */
    .circle::before {
      content: "";
      position: absolute;
      inset: 0;
      padding: 5px; /* border qalinligi */
      border-radius: 50%;
      background: linear-gradient(to bottom, #00ffff, #ff00ff); /* tepadan pastga gradient */
      -webkit-mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
      -webkit-mask-composite: xor;
              mask-composite: exclude;
    }

    /* Ichki rasm (profil rasmi yoki fon) */
    .circle img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      object-fit: cover;
      position: relative;
      z-index: 1;
    }




/* *{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "poppins", sans-serif;
}
body{
	background-color: black;
}
.header{
	position: fixed;
	margin-top: 0;
	margin-left: 0;
	width: 100%;
	padding: 20px 10px;
	background: transparent;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logo{
	position: relative;
	font-size: 25px;
	color: #fff;
	text-decoration: none;
}
.navbar{
	display: inline-block;
	font-size: 25px;
	margin-left: 25px;
	transition: 3s;
}
.navbar a{
	text-decoration: none;
	margin: 0 10px;
	flex-wrap: nowrap;
	color: #fff;
}
.navbar a:hover{
	color: #0ef;
	border-bottom:3px solid #0ef;
	transition: 0.2s;
}
.home{
	position: relative;
	width: 100%;
	justify-content: space-between;
	height: 100vh;
  background: -gradient(to bottom, #00ffff, #ff00ff);
	background-size: cover;
	background-position: center;
	display: flex;
	align-items: center;
	padding: 20px 30px;
	transition: 3s;
}
.home-tex {
	max-width: 600px;
}
.home-tex  h3{
	font-size: 35px;
	font-weight: 700;
} 
.home-tex h1{
	font-size: 60px;
	font-weight: 700;
	margin: -3px 0;
}
.home-tex p{
	font-size: 20px;

} */ */