*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body{
    background: #1f242d;
}
a{
    color: #fff;
    text-decoration: none;
}
.navbar{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 25px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.navbar  .logo{
    font-size: 30px;
    font-weight: 700;
}
.navbar ul{
    display: flex;
}
.navbar ul li{
    list-style: none;
    margin-left: 35px;
}
.navbar ul li  a{
    font-size: 20px;
    font-weight: 500;
    transition: 0.5s;
}
.navbar ul li a.active{
    color: #7cf03d; 
}
.navbar ul li a:hover{
    color: #7cf03d;
}
.navbar ul li a:focus{
    border-bottom: 2px groove #7cf03d;
    color: #7cf03d; 
}
.home{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    height: 100vh;
    padding: 60px 9%;
    color: #fff;
}
.home-text{
    width: 60%; 
}
.home-text h1{
    font-size: 55px;
}
.home-text h2{
    font-size: 32px;
    margin-top: -10px ;
}
.home-text p{
    font-size: 16px;
    margin: 10px  0  25px 0;
}
.btn1{
    display: flex;
    align-items: center;
    margin-top: 30px;
}
.btn{
    display: inline-flex;
    padding: 10px  30px;
    background: #7cf03d;
    border: 2px solid #7cf03d;
    border-radius: 40px;
    box-shadow: 0 0 10px  #7cf03d;
    font-size: 16px;
    color: #1f242d;
    font-weight: 600;
    transition: 0.5s;
}
.btn:hover{
    background: transparent;
    color: #7cf03d;
    box-shadow: 0 0 10px;
}
.logos{
    margin-left: 20px;
    display: flex; 
}
.logos a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px; 
    height: 40px;
    border: 2px solid #7cf03d;
    border-radius: 50%; 
    font-size: 20px;
    color: #7cf03d; 
    margin-right: 15px; 
    transition: 0.5s;
}
.logos a:hover{
    background-color: #7cf03d;
    color: #1f242d; 
    box-shadow: 0 0 10px #7cf03d; 
}
.home-img{
    border-radius: 50%;
    box-shadow: 0 0 20px #7cf03d;
}
.img-box {
    width: 300px;
    height: 300px;
    border: 2px solid #7cf03d;
    border-radius: 50%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-item {
    width: 90%; 
    height: 90%;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    background: #1f242d; 
	box-shadow: 0 0 15px #7cf03d;
}

.img-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-bottom: 50%;
}
