
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'poppins', sans-serif;
}
body{
	background: #1f242d;
}
a{
	color: #fff;
	text-decoration: none;
}
.navbar{
	 position: fixed;
	 left: 0;
	 top: 0;
	 width: 100%;
	 padding: 25px 10%;
	 display: flex;
	 justify-content: space-between;
	 align-items: center;
	 z-index: 100;
}

.navbar  .logo{
	font-size: 30px;
	font-weight: 700;
}
.navbar ul{
	display: flex;
}
.navbar ul li{
	list-style: none;
	margin-left: 35px;
}
.navbar ul li  a{
	font-size: 20px;
	font-weight: 500;
	transition: 0.5s;
}
.navbar ul li:hover a,
.navbar ul li a.active{
	color: #7cf03d;
}
.home{
	display: flex;
	align-items: center;
	height: 100vh;
	padding: 60px 9%;
	color: #fff;
	width: 60%;
}
.home-text h1{
	font-size: 55px;
}
.home-text h2{
	font-size: 32px;
	margin-top: 5px ;
}
.home-text p{
	font-size: 16px;
	margin: 10px  0  25px 0;
}
.btn1{
	display: flex;
	align-items: center;
}
.btn{
	display: inline-flex;
	padding: 10px  30px;
	background: #7cf03d;
	border: 2px solid #7cf03d;
	border-radius: 40px;
	box-shadow: 0 0 10px  #7cf03d;
	font-size: 16px;
  color: #1f242d;
	font-weight: 600;
}
.btn:hover{
	background: transparent;
	color: #7cf03d;
	box-shadow: none;
}
.logos  {
	margin-left: 20px;


}
.logos a{
	display: inline-flex;
	padding: 7px;
	border: 2px solid #7cf03d;
	border-radius: 50%;
	font-size: 20px;
	color: #7cf03d;
	margin: 0 7px;
	transition: 3s;
}
.logos a :hover{
	background-color: #7cf03d;
	color: #1f242d;
	box-shadow: 0 0 10px #7cf03d;
}
.fa-brands{
	width: 20px;
	height: 20px;
	color: #7cf03d;
}

.fa-linkedin-in:hover{
	color: #fff;
}
.fa-github:hover{
	color: gray;

}
.fa-instagram:hover{
	border-radius: 20px; 
	background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #405dee 90%);
}
.fa-telegram:hover{
	color: #2AABEE;
}